# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files (ne jamais commiter de secrets)
.env
.env.local
.env*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# prisma
/prisma/migrations/dev.db
